/*
---common-styles & utilites--
*/
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-colors-black: #3A3A3A;
}

body {
    margin: 0 120px;
}

.fa-solid {
    color: #000000;
}

/*
 --- top navbar ---
 */
.navbar {
    margin: 80px 0 0 0;

}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-title>.web-title {
    margin: 0;
}

#dropdown {
    display: none;
}


.header-nav-items a {
    font-size: 1em;
    color: var(--text-colors-black);
    margin-right: 34px;
    text-decoration: none;
}

.header-nav-items a:hover {
    font-weight: bold;
}


@media only screen and (max-width:688px) {
    body {
        margin: 0 16px;
    }

    .navbar {
        margin-top: 30px;

    }

    .header-nav-item {
        display: none;
    }

    #dropdown {
        display: inline-block;
    }

}