/*
---common-styles & utilites--
*/
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-colors-black: #3A3A3A;
    --root-color: #E02C6DDE;
}
body{
    margin: 0;
}
main {
    margin: 0 120px;
}

.fa-solid {
    color: #000000;
}

section {
    margin-top: 100px;
}

[class*="anker"] {
    text-decoration: none;
}

[class*="button"] {
    background-color: var(--root-color);
    color: white;
    padding: 10px 24px;
}

[class*="button"]>.fa-solid {
    color: white;
}

/*
--- flexible container
*/
.flexible-container {
    display: flex;
}

.flex-half {
    flex: 50%;
}

.flex-one-third {
    flex: 33%;
}

.flex-two-third {
    flex: 66%
}

/*
 --- top navbar ---
 */
.navbar {
    margin: 80px 120px 0 120px;

}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-title>.web-title {
    margin: 0;
}

#dropdown {
    display: none;
}


.header-nav-item {
    font-size: 1em;
    color: var(--text-colors-black);
    margin-right: 34px;
    text-decoration: none;
}

.header-nav-item:hover {
    font-weight: bold;
}


/*
----front page
*/
.intro-page {

    align-items: center;

}

.intro-blog-title {
    margin: 0;
    font-size: 3em;
    color: var(--text-colors-black);
}

#prebook {
    border-radius: 41px;
}

.intro-banner {
    justify-content: center;
    align-items: center;
}

/*
-----Ecommerce - Link
*/
.ecommerce-sites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ecommerce-site img {
    width: 5rem;
    margin: 0 20px;
}


/*
------Popular - collection -------------
*/

.popular-collection {
    margin-left: 76px;
    margin-right: 76px;
    flex-direction: column;
    justify-content: center;

}

.poular-collection-title {
    text-align: center;
}

.collections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.collection-item {
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0px 0px 20px 13px rgb(170 170 170 / 26%);
}

.collection-item img {
    width: 100%;


}

.collection-item-details {}

.collection-item-details p {
    margin: 0;
}

#item-name {
    margin: 0;
}

#item-rating>i {
    color: orange;
}

#item-description {
    color: #787885;
    max-height: 61px;
    overflow: hidden;
}

.see-more {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

}

#see-more-button, #see-more-button>i {
    color: var(--root-color);
}

/*
---- Featured product ----
*/
.featured-product {
    margin-left: 45px;
    margin-right: 45px;
}

.featured-product-detail {
    margin-left: 96px;
}

#featured-product-title {
    color: #0A0826;
}

/*
______footer_______
*/
footer{
    margin: 100px 0 0 0;
    text-align: center;
    background-color: #0A0826;
    color: #ffffff;
    padding: 50px 0;
   text-align: center;
  
}
.social{
    display: flex;
   justify-content: center;
   align-items: center;
}
.social-site{
    font-size: 2em;
    margin-right: 3vw;
}
